    <!-- Employee Tracker -->
    <div class="container">
	
      <!-- Jumbotron -->
      <div class="jumbotron" style="background-color: black; color: white">
        <h1 class="text-center">Preliminary Competition</h1>
        <h2 class="text-center">{{division}}</h2>
        <h2 class="text-center">{{role}}</h2>
      </div>

      <div class="row">

        <div class="col-lg-12">

        <!-- Current Employees-->
        <form>
        	<div class="form-group">
          	<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Heat One</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover" id='prelim-heatOne'>
                <thead>
                  <tr>
                    <th>Bib Number</th>
                    <th>Role</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                	{{#each list}}
                	<tr>
    				<td>{{this.bib_number}}</td>
    				<td>{{role}}</td>
    				<td>

					<form>
					<div class="dropdown">
					  <select name="pre_limScores{{this.bib_number}}">
						  <option value="1">1 (Best)</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						</select>
					</div>
					</form>
					</td>
    				</tr>
  					{{/each}}
                	
                	<td>
                	<td>
                </tbody>
                <ul class="people_list">

				</ul>
              </table>
            </div>
          	</div>
          	</div>
          	<button class="btn btn-primary" id="score-prelims-btn" type="submit">Submit Scores</button>
        </form>
        </div>

      </div>

    </div>
<!--       <script type="text/javascript">

     function runListQuery(){
		console.log(list);
	}

    // Run Query!
	// ==========================================
	runListQuery();

      </script> -->